  <!--************************************************-->
  <!--                                                -->
  <!-- HEADER                                         -->
  <!--                                                -->
  <!--************************************************-->
    <header>
      <!--************************************************-->
      <!-- BARRA DE NAVEGACION                            -->
      <!--************************************************-->  
        <nav class="navbar-2 navbar-default navbar-fixed-top cbp-af-header" role="navigation">
          <div  class="container-fluid">
            <!--************************************************-->
            <!-- EN MOVILES                                     -->
            <!--************************************************-->
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <!--*********************-->
                <!-- BOTON DE MENU       -->
                <!--*********************-->
                  <button 
                  type="button" 
                  class="navbar-toggle collapsed" 
                  data-toggle="collapse" 
                  data-target="#bs-example-navbar-collapse-1" 
                  aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <!--*********************-->
                <!-- ICONO SFL           -->
                <!--*********************-->
                  <a ng-click="APagina1(idPagina)" href="#">
                    <img style="margin-top:1em;margin-bottom:0.6em;" src="img/SFL_logo-01.svg" />
                  </a>
              </div>
            <!--************************************************-->
            <!-- EN DESKTOP                                     -->
            <!--************************************************-->
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--*********************-->
                <!-- FORM DE BUSQUEDA    -->
                <!--*********************-->
                  <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Contacto" ng-model="buscarText">
                        <span class="input-group-btn">
                            <button class="btn btn-perso" type="button" ng-click="buscarContacto()">Ir</button>
                        </span>
                    </div>
                  </div>
                  </form>
                  <!-- /input-group -->
                <!--*********************-->
                <!-- LINKS               -->
                <!--*********************-->
                  <ul class="nav navbar-nav navbar-right">
                  <!--*********************-->
                  <!-- USERNAME            -->
                  <!--*********************-->
                  <li class="dropdown">
                    <a ng-click="VPrincipal()" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{$storage.nombre}}
                      <span class="caret "></span>
                    </a>
                    <!--*********************-->
                    <!-- DROPDOWN            -->
                    <!--*********************-->  
                      <ul class="dropdown-menu">
                        <li><a  ng-click="VMiPagina($storage.idUsuario)">
                          Pagina
                        </a></li>
                        <li><a  ng-click="VPagina1($storage.idUsuario)">
                          Editor
                        </a></li>
                        <li><a  ng-click="VContactos2($storage.idUsuario)" 
                                ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
                          Contactos
                        </a></li>
                        <li><a  ng-click="VForos3($storage.idUsuario)" 
                                ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
                          Foros
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a  ng-click="VLogin0()">
                          Salir
                        </a></li>
                      </ul>
                  </li>
                  <!--*********************-->
                  <!--     Links extra     -->
                  <!--*********************-->
                  <!--<li><a  ng-click="VComentariosPagina4(idPaginaSitio)">
                    Comentarios
                  </a></li>!-->                                  
                </ul>
              </div> <!-- /.navbar-collapse -->  
          </div> <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- ****************************************************************************** -->
    <div class="container-fluid">
      <h2>SOCIAL FL</h2>
      <h4>El block dode debates problematicas sociales</h4>

      <div>
        <p>
          A medida que avanzan los tiempos surgen canda vez mas controversias sobre lo que esta bien y mal socialmente hablando. La moral y la etica se definen a conveniencia de las "mayorias" y porciones de la poblacion se dejan regir por estas a ciegas.
        </p>
        <p>
          Pero... Quien tiene la razon? Que es la verdad? Que esta bien?
        </p>
        <img class="imagen center" src="../../img/mafalda4.jpg"/>

        <p>
          En este block tienes la oportinidad de exponer tu punto de vista sobre algun tema y ver que opinan los demas...
        </p>
        <img class="imagen_peq center" src="../../img/mafalda2.jpg"/>
        <p>
          ... Intercambiar ideas...
        </p>
        <img class="imagen center" src="../../img/mafalda3.jpg"/>
        <p>
          ... Disfrutar de nuestras divertidas caricaturas, y mas...
        </p>
        <img class="imagen center" src="../../img/mafalda1.jpg"/>
      </div>
    </div>
    <div style="height: 5em">


<div id="right"></div>