  <!--************************************************-->
  <!--                                                -->
  <!-- HEADER                                         -->
  <!--                                                -->
  <!--************************************************-->
    <header>
      <!--************************************************-->
      <!-- BARRA DE NAVEGACION                            -->
      <!--************************************************-->  
        <nav class="navbar-2 navbar-default navbar-fixed-top cbp-af-header" role="navigation">
          <div  class="container-fluid">
            <!--************************************************-->
            <!-- EN MOVILES                                     -->
            <!--************************************************-->
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <!--*********************-->
                <!-- BOTON DE MENU       -->
                <!--*********************-->
                  <button 
                  type="button" 
                  class="navbar-toggle collapsed" 
                  data-toggle="collapse" 
                  data-target="#bs-example-navbar-collapse-1" 
                  aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <!--*********************-->
                <!-- ICONO SFL           -->
                <!--*********************-->
                  <a ng-click="APagina1(idPagina)" href="#">
                    <img style="margin-top:1em;margin-bottom:0.6em;" src="img/SFL_logo-01.svg" />
                  </a>
              </div>
            <!--************************************************-->
            <!-- EN DESKTOP                                     -->
            <!--************************************************-->
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--*********************-->
                <!-- FORM DE BUSQUEDA    -->
                <!--*********************-->
                  <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Contacto">
                        <span class="input-group-btn">
                            <button class="btn  btn-perso" type="button">Ir</button>
                        </span>
                    </div>
                  </div>
                  </form>
                  <!-- /input-group -->
                <!--*********************-->
                <!-- LINKS               -->
                <!--*********************-->
                  <ul class="nav navbar-nav navbar-right">
                  <!--*********************-->
                  <!-- USERNAME            -->
                  <!--*********************-->
                  <li class="dropdown">
                    <a ng-click="VPrincipal()" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{$storage.nombre}}
                      <span class="caret "></span>
                    </a>
                    <!--*********************-->
                    <!-- DROPDOWN            -->
                    <!--*********************-->  
                      <ul class="dropdown-menu">
                        <li><a  ng-click="VMiPagina($storage.idUsuario)">
                          Pagina
                        </a></li>
                        <li><a  ng-click="VPagina1($storage.idUsuario)">
                          Editor
                        </a></li>
                        <li><a  ng-click="VContactos2($storage.idUsuario)">
                          Contactos
                        </a></li>
                        <li><a  ng-click="VForos3($storage.idUsuario)" >
                          Foros
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a  ng-click="VLogin0()">
                          Salir
                        </a></li>
                      </ul>
                  </li>
                  <!--*********************-->
                  <!--     Links extra     -->
                  <!--*********************-->
                    <li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                </ul>
              </div> <!-- /.navbar-collapse -->  
          </div> <!-- /.container-fluid -->
        </nav>
    </header>

        <!--************************************************-->
        <!-- CONTENIDO                                      -->
        <!--************************************************-->

    <div layout="column">
      <div flex="25" layout="row"  layout-align="center center">
        <div flex>
          <p>
            <h1>Mis contactos y grupos</h1>
          </p>
        </div>
        <div  flex="30">
          <md-button ng-click="VAdminContactos2(idUsuario)" layout="column" layout-align="center center" style="border-style:none" class="btn btn-perso btn-lg btn-block">
            Administrar
          </md-button>
        </div>
      </div>
      <div flex>
        <!--************************************************-->
            <!-- LISTA CONTACTOS                                -->
            <!--************************************************-->
            <div class="list-group scroll">
              
              <h3>Contactos</h3>
              
              <table class="table">
                  <tr ng-repeat="row in contactos">
                      <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                      <td ng-show="row['idContacto']">
                          <a  style="border-style:none" 
                              ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false" 
                              ng-click="VChat1(row)" 
                              class="btn btn-perso">
                                Charlar
                          </a>
                          <a  style="border-style:none" 
                              ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false" 
                              ng-click="VMiPagina(row.idContacto)" 
                              class="btn btn-perso-pag">
                                Ver página
                          </a>
                      </td>
                  </tr>
              </table>
              
              <h3>Grupos</h3>
              
              <table class="table">
                  <tr ng-repeat="row in grupos">
                      <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                      <td ng-show="row['idContacto']">
                          <a  style="border-style:none" 
                              ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false" 
                              ng-click="VChat1(row)" 
                              class="btn btn-perso">
                                Charlar
                          </a>
                      </td>
                  </tr>
              </table>
              
              <div class="panel-footer"></div>
            </div>
      </div>
    </div>



<div id="right"></div><script type="text/ng-template" id="ayuda_VContactos.html">
A continuacion se enlistan los amigos y grupos que tienes agregados.
Si seleccionas -Administrar Contactos- podras gestionar tus amigos y grupos. 
</script>