  <!--************************************************-->
  <!--                                                -->
  <!-- HEADER                                         -->
  <!--                                                -->
  <!--************************************************-->
        <header>
          <!--************************************************-->
          <!-- BARRA DE NAVEGACION                            -->
          <!--************************************************-->  
            <nav class="navbar-2 navbar-default navbar-fixed-top cbp-af-header" role="navigation">
              <div  class="container-fluid">
                <!--************************************************-->
                <!-- EN MOVILES                                     -->
                <!--************************************************-->
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <!--*********************-->
                    <!-- BOTON DE MENU       -->
                    <!--*********************-->
                      <button 
                      type="button" 
                      class="navbar-toggle collapsed" 
                      data-toggle="collapse" 
                      data-target="#bs-example-navbar-collapse-1" 
                      aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <!--*********************-->
                    <!-- ICONO SFL           -->
                    <!--*********************-->
                      <a href="#/VPrincipal">
                        <img style="margin-top:1em;margin-bottom:0.6em;" src="img/SFL_logo-01.svg" />
                      </a>
                  </div>
                <!--************************************************-->
                <!-- EN DESKTOP                                     -->
                <!--************************************************-->
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--*********************-->
                    <!-- FORM DE BUSQUEDA    -->
                    <!--*********************-->
                      <form class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar Contacto">
                            <span class="input-group-btn">
                                <button class="btn  btn-perso" type="button">Ir</button>
                            </span>
                        </div>

                      </div>
                      </form>
                      <!-- /input-group -->
                    <!--*********************-->
                    <!-- LINKS               -->
                    <!--*********************-->
                      <ul class="nav navbar-nav navbar-right">
                      <!--*********************-->
                      <!-- USERNAME            -->
                      <!--*********************-->
                      <li class="dropdown">
                        <a ng-click="VPrincipal()" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          {{$storage.nombre}}
                          <span class="caret "></span>
                        </a>
                        <!--*********************-->
                        <!-- DROPDOWN            -->
                        <!--*********************-->  
                          <ul class="dropdown-menu">
                            <li><a ng-click="VPrincipal1()">Perfil</a></li>
                            <li><a ng-click="VPagina1($storage.idUsuario)">Editor</a></li>
                            <li><a ng-click="VContactos2($storage.idUsuario)"
                              ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">Contactos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="VLogin0()">Salir</a></li>
                          </ul>
                      </li>
                    <li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>

                    </ul>
                  </div> <!-- /.navbar-collapse -->  
              </div> <!-- /.container-fluid -->
            </nav>
        </header>

        <!--************************************************-->
        <!-- CONTENIDO                                      -->
        <!--************************************************-->
          <div layout="column">
            <div flex="25" layout="row"  layout-align="center center">
              <div flex>
                <p>
                  <h1>Administrar grupo</h1>
                </p>
              </div>
              <div  flex="30">
                <md-button style="border-style:none;background:#FF5252" ng-click="ASalirGrupo1()" layout="column" layout-align="center center" style="border-style:none" class="btn btn-perso btn-lg btn-block">
                  Salir del grupo
                </md-button>
              </div>
            </div>
            <hr />
            <div flex>
            <form name="fMiembroForm" ng-submit="AgregMiembro0(fMiembroForm.$valid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' :  fMiembroSubmitted && fMiembroForm.nombre.$invalid && fMiembroForm.nombre.$pristine && fMiembroSubmitted}">
                  <label for="fMiembro_nombre">Nombre</label>:&nbsp;
                  <select id="fMiembro_nombre" ng-model="fMiembro.idUsuario" required ng-options="item.key as item.value for item in fMiembro_opcionesNombre"> 
                  </select>
                  <p ng-show="fMiembroSubmitted && fMiembroForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p>
              </div>
              <button type="submit" class="btn btn-perso btn-lg btn-block">
                <i class="fa fa-user-plus"></i>Agregar
              </button>
            </form>
    <table ng-table="tableParams3" template-pagination="pager.html" class="table">

            <tr ng-repeat="row in $data">
                <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                <td ng-show="row['idContacto'] != $storage.idUsuario"><a ng-click="AElimMiembro3(row['idContacto'])">Eliminar</a></td>
            </tr>
        </table>
            </div>
          </div>
          

<div id="right"></div><script type="text/ng-template" id="ayuda_VGrupo.html">
  <ul>
    <li>
      Selecciona y agrega los amigos que quieres que pertenezcan al grupo.
    </li>
    <li>Presiona -Salirse del grupo- para abandonar el mismo.</li>
  </ul>
  <br>
</script>