<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Foro</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPublicacion1('foro')">
  Nueva publicación</a></li>
<li><a ng-click="AElimForo3(idForo)">
  Eliminar foro</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
<li><a ng-click="VForos2(idUsuario)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="hilos">
    <div class="hilo" ng-repeat="hilo in hilos">
        <h3 ng-bind="hilo['titulo']"></h3>
        <p><i>Escrito por <b>{{hilo.autor}}</b> el {{hilo.fecha | date:"dd/MM/yyyy 'a las' h:mma"  }}</i></p>
        <p ng-bind="hilo['contenido']"></p>
        <a ng-click="VPublicacion0('foro',hilo['idPublicacion'])">Responder</a>
        <div class="respuesta" ng-repeat="publicacion in hilo.respuestas" ng-include="'field_renderer.html'"></div>
    </div>
</div>

<hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VForo.html">
-Nueva publicacion- para agregar un nuevo comentario al foro
-Eliminar Foto- para suprimir el mismo.

</script>

<script type="text/ng-template" id="field_renderer.html">
    <h4>{{publicacion.titulo}}</h4>
    <p><i>Escrito por <b>{{publicacion.autor}}</b> el {{publicacion.fecha | date:"dd/MM/yyyy 'a las' h:mma"  }}</i></p>
    <p>{{publicacion.contenido}}</p>
    <a ng-click="VPublicacion0('foro',publicacion['idPublicacion'])">Responder</a>
    <div class="respuesta" ng-repeat="publicacion in publicacion.respuestas" ng-include="'field_renderer.html'"></div>
</script>
