  <!--************************************************-->
  <!--                                                -->
  <!-- HEADER                                         -->
  <!--                                                -->
  <!--************************************************-->
    <header>
      <!--************************************************-->
      <!-- BARRA DE NAVEGACION                            -->
      <!--************************************************-->  
        <nav class="navbar-2 navbar-default navbar-fixed-top cbp-af-header" role="navigation">
          <div  class="container-fluid">
            <!--************************************************-->
            <!-- EN MOVILES                                     -->
            <!--************************************************-->
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <!--*********************-->
                <!-- BOTON DE MENU       -->
                <!--*********************-->
                  <button 
                  type="button" 
                  class="navbar-toggle collapsed" 
                  data-toggle="collapse" 
                  data-target="#bs-example-navbar-collapse-1" 
                  aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <!--*********************-->
                <!-- ICONO SFL           -->
                <!--*********************-->
                  <a ng-click="APagina1(idPagina)" href="#">
                    <img style="margin-top:1em;margin-bottom:0.6em;" src="img/SFL_logo-01.svg" />
                  </a>
              </div>
            <!--************************************************-->
            <!-- EN DESKTOP                                     -->
            <!--************************************************-->
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--*********************-->
                <!-- FORM DE BUSQUEDA    -->
                <!--*********************-->
                  <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Contacto">
                        <span class="input-group-btn">
                            <button class="btn  btn-perso" type="button">Ir</button>
                        </span>
                    </div>
                  </div>
                  </form>
                  <!-- /input-group -->
                <!--*********************-->
                <!-- LINKS               -->
                <!--*********************-->
                  <ul class="nav navbar-nav navbar-right">
                  <!--*********************-->
                  <!-- USERNAME            -->
                  <!--*********************-->
                  <li class="dropdown">
                    <a ng-click="VPrincipal()" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{$storage.nombre}}
                      <span class="caret "></span>
                    </a>
                    <!--*********************-->
                    <!-- DROPDOWN            -->
                    <!--*********************-->  
                      <ul class="dropdown-menu">
                        <li><a  ng-click="VMiPagina($storage.idUsuario)">
                          Pagina
                        </a></li>
                        <li><a  ng-click="VPagina1($storage.idUsuario)">
                          Editor
                        </a></li>
                        <li><a  ng-click="VContactos2($storage.idUsuario)">
                          Contactos
                        </a></li>
                        <li><a  ng-click="VForos3($storage.idUsuario)" >
                          Foros
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a  ng-click="VLogin0()">
                          Salir
                        </a></li>
                      </ul>
                  </li>
                  <!--*********************-->
                  <!--     Links extra     -->
                  <!--*********************-->
                    <li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                </ul>
              </div> <!-- /.navbar-collapse -->  
          </div> <!-- /.container-fluid -->
        </nav>
    </header>

<!--********************************************* *********************************************-->    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Publicación en el Hilo</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
<li><a ng-click="VForo1(idForo)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fPublicacionForm" ng-submit="APublicar0(fPublicacionForm.$valid)" novalidate>
            <input id="fPublicacion_idForo" type="hidden" name="idForo" ng-model="fPublicacion.idForo" />
            <div class="form-group" ng-class="{ 'has-error' :  fPublicacionSubmitted && fPublicacionForm.fecha.$invalid && fPublicacionForm.fecha.$pristine && fPublicacionSubmitted}"><label for="fPublicacion_fecha">Fecha</label><input id="fPublicacion_fecha" type="date" name="fecha" class="form-control" ng-model="fPublicacion.fecha" placeholder="Fecha" required/><p ng-show="fPublicacionSubmitted && fPublicacionForm.fecha.$invalid" class="help-block">Error en campo Fecha.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fPublicacionSubmitted && fPublicacionForm.titulo.$invalid && fPublicacionForm.titulo.$pristine && fPublicacionSubmitted}"><label for="fPublicacion_titulo">Título</label><input id="fPublicacion_titulo" type="text" name="titulo" class="form-control" ng-model="fPublicacion.titulo" placeholder="Título" required/><p ng-show="fPublicacionSubmitted && fPublicacionForm.titulo.$invalid" class="help-block">Error en campo Título.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fPublicacionSubmitted && fPublicacionForm.contenido.$invalid && fPublicacionForm.contenido.$pristine && fPublicacionSubmitted}"><label for="fPublicacion_contenido">Contenido</label><textarea id="fPublicacion_contenido" name="contenido" class="form-control" ng-model="fPublicacion.contenido" placeholder="Contenido" ></textarea><p ng-show="fPublicacionSubmitted && fPublicacionForm.contenido.$invalid" class="help-block">Error en campo Contenido.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Publicar
        </button>
    </form>
    <hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VPublicacion.html">
Doc de publicación
</script>